.nova-expanded-image {
   display: block;
    margin: 16px auto;
  width: 100%;
  max-width: 420px;
  border-radius: 12px;
  align-self: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.nova-note-card {
  display: inline-block;
    padding: 8px 16px;
    text-align: center;
    box-sizing: border-box;
}

.nova-note-card-container {
  text-align: center;
    margin-top: 16px;
}

.mat-mdc-card {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
}